'editor':
  'fontSize': 14
  'fontFamily': 'Inconsolata-dz for Powerline'
  'showInvisibles': true
  'showIndentGuide': true
'core':
  'themes': [
    'atom-soda-dark-ui'
    'base16-tomorrow-dark-theme'
  ]
  'useReactEditor': true
'exception-reporting':
  'userId': 'edc5c3ef-7a1b-cfe4-699f-e8d9a2fcc5d1'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'd8d07c754c48ac0de4b951584c62dc0162ffbd65'
